@charset "UTF-8";

/*--------------------------------------------
           BASE STYLES (MOBILE-FIRST)
--------------------------------------------*/
* {
  box-sizing: border-box;
}

/***** BASIC TEXT STYLES ******/
@font-face {
  font-family: "HackneyPersonalUseOnly";
  src: url("../font/HackneyPersonalUseOnly.eot");
  src: url("../font/HackneyPersonalUseOnly.eot?#iefix")
      format("embedded-opentype"),
    url("../font/HackneyPersonalUseOnly.svg#HackneyPersonalUseOnly")
      format("svg"),
    url("../font/HackneyPersonalUseOnly.ttf") format("truetype"),
    url("../font/HackneyPersonalUseOnly.woff") format("woff"),
    url("../font/HackneyPersonalUseOnly.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

p {
  font-family: "Montserrat subheading", "Verdana", "sans-serif";
  line-height: 30px;
  color: #000;
  flex: 1 1 auto;
  width: 100%;
  padding: 3%;
  max-width: 305px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HackneyPersonalUseOnly", "Bebas Neue", "Impact", "sans-serif";
  text-transform: uppercase;
}

h1 {
  letter-spacing: 1px;
  font-size: 1.8rem;
  color: #08343c;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: #3c0808;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  color: #3c0808;
}

h4 {
  text-align: left;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: -5%;
}

h5 {
  display: inline-flex;
  font-size: 1.2rem;
}

h6 {
  display: inline-flex;
  font-size: 1.5rem;
  color: #08343c;
}

.brewStyle {
  margin-top: 10%;
  margin-bottom: 5%;
}

/***** Mobile Navigation-M *****/
.wrapper {
  width: 85%;
  margin: 0 auto;
}

.navRule,
.footerLine {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.hamburgerButton {
  width: 50px;
  height: 50px;
}

.nav-logo {
  width: auto;
  height: 63px;
  border-radius: 7px;
  margin-right: auto;
  margin-top: 5%;
}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  margin-top: 5%;
  align-items: center;
}

#navLinks,
#navLinks a {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  font-family: "HackneyPersonalUseOnly", "Bebas Neue", "Impact", "sans-serif";
  font-size: 6vh;
  letter-spacing: 3px;
  text-decoration: none;
  color: #000;
  z-index: 1;
}

#navLinks {
  display: none;
}

#navLinks a:hover {
  background-color: #08343c;
  color: white;
  border-radius: 5px;
  -webkit-transition: background-color 0.6s ease-out, color 0.6s ease-out;
  -moz-transition: background-color 0.6s ease-out, color 0.6s ease-out;
  -o-transition: background-color 0.6s ease-out, color 0.6s ease-out;
  transition: background-color 0.6s ease-out, color 0.6s ease-out;
}

/*** homepage ***/
.index-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-image {
  flex: 1 1 auto;
  border-radius: 10px 10px 10px 10px;
  opacity: 0.9;
  object-fit: cover;
  width: 100%;
  margin-top: 7%;
}

/***** CONTACT SECTION-M ******/
.form {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 500px;
  width: 320px;
  border-radius: 10px;
  padding: 10px 20px;
}

.ABV-Input,
.contactInput[type="text"],
.contactInput[type="email"],
textarea,
select {
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 15px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #000;
  text-transform: uppercase;
  background-color: #08343c2e;
}
.ABV-Input:focus,
.contactInput[type="text"]:focus,
.contactInput[type="email"]:focus,
textarea:focus,
select:focus {
  outline: 0;
  background-color: #fff;
  border-color: #3c0808;
}

textarea {
  min-height: 130px;
  margin-bottom: 5%;
}

legend {
  margin-bottom: 0px;
  font-weight: lighter;
}

.number {
  background-color: #3c0808;
  color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  font-size: 0.8rem;
  margin-right: 10px;
  margin-top: 10%;
}

/***** ToolTip styles-M *****/
.toolTip {
  flex: 1 1 auto;
  border-radius: 20px;
  display: none;
  font-size: 0.75rem;
  text-align: center;
  background: #08343c;
  color: #fff;
  padding: 7px;
  position: absolute;
  width: 160px;
  margin-top: -19px;
  margin-left: 135px;
  text-transform: uppercase;
}

.toolTip:after {
  border: solid transparent;
  content: " ";
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #08343c;
  border-width: 15px;
  position: absolute;
  width: 0;
  height: 0;
  right: 5%;
  top: -40%;
  margin-top: -8px;
}

/**** Form End ****/

/* cocktail & Brews page */
/* Style the buttons that are used to open and close the accordion panel */
.typo,
.typo-s {
  max-width: 80%;
}
.typo-s {
  margin-bottom: 5%;
}

.typo-cen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion,
.accordionLink {
  font-family: "HackneyPersonalUseOnly", "Bebas Neue", "Impact", "sans-serif";
  background-color: #08343c;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  box-shadow: 2px 2px #696969;
  border-width: 1px 1px 2px;
  padding: 8px;
  width: 270px;
  text-align: center;
  border: 1px solid #000;
  outline: none;
  margin-bottom: 1%;
}

.accordion:after {
  content: "\02795"; /* Unicode character for (+) */
  font-size: 15px;
  color: #fff;
  float: right;
}

.active:after {
  content: "\2796"; /* Unicode character for (-) */
}

.active,
.accordion:hover {
  background-color: #3c0808;
  transition: 0.4s;
}

.panel {
  padding: 0 20px;
  max-width: 310px;

  background-color: white;
  display: none;
  overflow: hidden;
}

/* abv calc */

#ABV {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ABV-Input {
  max-width: 35%;
}

#calc-ABV-btn {
  display: block;
  border-radius: 5px;
  background-color: #3c0808;
  color: #fff;
  text-transform: uppercase;
  max-height: 50px;
  max-width: 50px;
  margin-top: 10%;
  font-size: 0.7rem;
}

#randomDrink {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  align-items: center;
}

#randomDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#randomDiv img,
.brewImg {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  object-fit: cover;
  margin-top: 15%;
}

br img {
  margin-bottom: 25px;
}

li {
  margin-top: 10px;
  text-align: left;
}

/* extract Process Page */
.centerList {
  margin-bottom: 5%;
}

.equip {
  list-style-type: circle;
  margin-left: 15%;
  margin-bottom: 15%;
}

/*** product-grid ***/

.randomBtn,
#btnPro,
#btnProRem {
  display: inline-block;
  font-family: "HackneyPersonalUseOnly", "Bebas Neue", "Impact", "sans-serif";
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  background-color: #08343c;
  color: #fff;
  box-shadow: 2px 2px #696969;
  width: 75px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px 1px 2px;
  cursor: pointer;
  text-align: center;
}
#btnPro {
  margin-right: 20px;
}

#btnProRem {
  background-color: #3c0808;
}

.btnDiv {
  display: flex;
  flex-direction: row;
  max-width: 280px;
}

.randomBtn {
  align-self: center;
  width: 222px;
  letter-spacing: 4px;
}

#btnPro:active,
#btnProRem:active,
.randomBtn:active,
.btn:active {
  background-color: black;
}

.shopDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
  margin-bottom: 15%;
}

.h1-shop {
  color: #3c0808;
}

#cart {
  padding: 5px;
  cursor: pointer;
  margin-left: 15%;
  margin-top: -5px;
}

.productImg {
  margin: 5px;
  object-fit: cover;
  max-width: 100%;
  width: 220px;
  height: auto;
  border-radius: 25px;
  border: 1px solid black;
}

.produ {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 280px;
}

.price {
  margin-bottom: 5%;
}

/* #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
    }
    
#lightbox.active {
    display: flex;
    align-items: center;
    }

#lightbox img {
    max-width: 100%;  
    max-height: 100%;
    padding: 5px;
    background-color: #fff;
    border-radius: 25px;
    transform: scale(.90);
   
    }    */

.social-links {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: center;
}

.icons {
  padding: 8px;
}

.icons:hover {
  transform: scale(1.2);
  max-width: 70px;
}

.footerline {
  width: 85%;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

/*-------------------------------------------------------------
                  SMALL iPADS
-------------------------------------------------------------*/
/****** Small Screen Media Queries: Targets VP sizes 540px & wider. *******/
@media (min-width: 540px) {
  /* index page */
  p {
    max-width: 500px;
  }

  /* brew page */
  .acc-p {
    max-width: 300px;
  }

  .brewStyle {
    text-align: left;
  }

  /* products page */

  .shopDiv {
    margin-bottom: 10%;
  }

  .main {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .produ {
    width: 300px;
    margin-bottom: 30%;
    padding-left: 15%;
    padding-right: 15%;
  }
}

/*-------------------------------------------------------------
                 i-PAD
-------------------------------------------------------------*/
/****** Large-ish Screen Media Queries: Targets VP sizes 1024px & wider. *******/
@media (min-width: 768px) {
  /* index page */
  p {
    max-width: 700px;
  }

  /* brew page */
  .typo-cen {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .brewImg {
    width: 80%;
  }
}

/*-------------------------------------------------------------
            LAPTOP 
-------------------------------------------------------------*/
/****** Large-ish Screen Media Queries: Targets VP sizes 1200px & wider. *******/
@media (min-width: 1024px) {
  /* brew page */
  .brewImg {
    max-width: 60%;
    margin-right: 20%;
  }

  .index-brew {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .recipes {
    width: 350px;
    margin-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/*-------------------------------------------------------------
           DESKTOP BEGIN-5
-------------------------------------------------------------*/
/****** Large-ish Screen Media Queries: Targets VP sizes 1400px & wider. *******/
/* @media (min-width: 1400px)  */
